# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Máximo Sojo
description: >- # this means to ignore newlines until "baseurl:"
  Desde que empecé mi andadura como desarrollador hace casi 8 años, he realizado trabajos para agencias, he sido consultor de startups y he colaborado con gente con talento para crear productos digitales tanto para empresas como para consumidores.
  Soy una persona tranquila, curiosa por naturaleza y siempre estoy trabajando para mejorar mis habiliades, un conocimiento a la vez.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: maximosojo
github_username:  maximosojo
facebook_username: 
youtube_username: UCBJiKvFjxK4X_gtEHXajH5Q
instagram_username: maximosojo
linkedin_username: maximosojo

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
