<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="portfolio">
    <div class="my-auto">
        <h2 class="mb-5">Últimos proyectos</h2>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a href="https://protection-i.com/" target="_blank">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ site.baseurl }}/assets/images/projects/protection-insurance-1.jpg" alt="Protection Insurance">
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="https://syaghomes.com/" target="_blank">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ site.baseurl }}/assets/images/projects/syaghomes-1.jpg" alt="Syag Homes">
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="https://barrosobeauty.com/" target="_blank">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ site.baseurl }}/assets/images/projects/barrosobeauty-1.jpg" alt="Barroso Beauty">
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="https://jresidency.com/" target="_blank">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ site.baseurl }}/assets/images/projects/jresidency-1.jpg" alt="Juventus Residency Academy">
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="https://play.google.com/store/apps/details?id=com.tecnology.develop.epicapp" target="_blank">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ site.baseurl }}/assets/images/projects/epicapp-1.jpg" alt="Epic E Wallet">
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="https://app.oneclickagency.us/" target="_blank">
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ site.baseurl }}/assets/images/projects/oneclickagency-1.jpg" alt="One Click Agency">
                </div>
            </a>
        </div>
    </div>
</section>