<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
        <h2 class="mb-5">Habilidades</h2>
        <div class="subheading mb-3">Lenguajes y herramientas de programación</div>
        <div class="row list-icons">
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-javascript-plain colored"></i>
                <span>JavaScript</span>  
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-nodejs-plain colored"></i>
                <span>Node JS</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-typescript-plain colored"></i>
                <span>TypeScript</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-angularjs-plain colored"></i>
                <span>Angular</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-python-plain colored"></i>
                <span>Python</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-django-plain colored"></i>
                <span>DJango</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-php-plain colored"></i>
                <span>PHP</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-symfony-plain colored"></i>
                <span>Symfony</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-laravel-plain colored"></i>
                <span>Laravel</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-codeigniter-plain colored"></i>
                <span>CodeIgniter</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-html5-plain colored"></i>
                <span>HTML</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-css3-plain colored"></i>
                <span>CSS</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-sass-plain colored"></i>
                <span>Sass</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-less-plain-wordmark colored"></i>
                <span>Less</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-bootstrap-plain colored"></i>
                <span>Bootstrap</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-grunt-plain colored"></i>
                <span>Grunt</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-npm-original-wordmark colored"></i>
                <span>Npm</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-yarn-plain colored"></i>
                <span>Yarn</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-dart-plain colored"></i>
                <span>Dart</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-flutter-plain colored"></i>
                <span>Flutter</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-solidity-plain colored"></i>
                <span>Solidity</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-mysql-plain colored"></i>
                <span>Mysql</span>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 list-icons-item">
                <i class="devicon-postgresql-plain colored"></i>
                <span>PostgreSQL</span>
            </div>
        </div>
    </div>
</section>