---
layout: default
---
<section class="resume-section p-3 p-lg-5 d-flex flex-column">
	<article class="post">	
	  	<h2>MaxtoanToolsBundle</h2>
        <hr>
	  	<div class="entry">
            <h3>MaxtoanToolsBundle</h3>
	    	<p>Desarrollado para Symfony 2.+, 3.+, 4.+, 5.+, proporciona un marco flexible de utilidades para la gestión de proyectos que apunta a manejar tareas comunes como repositorios, paginadores, utils en general.</p>
            <h3>Instalación</h3>
            <p>
                <strong><code class="highlighter-rouge">$ composer require maxtoan/tools-bundle</code></strong>
            </p>
            <p>
                Las instrucciones de instalación y confirguración se encuentran en la <a href="https://github.com/maximosojo/ToolsBundle/blob/master/Resources/doc/install.md">Documentación</a>.
            </p>
            <h3>Documentación</h3>
            <p>
                <ul>
                    <li><a href="https://github.com/maximosojo/ToolsBundle/blob/master/Resources/doc/install.md">Inslatación</a></li>
                    <li><a href="https://github.com/maximosojo/ToolsBundle/blob/master/Resources/doc/paginator.md">Componente Paginador</a></li>
                    <li><a href="https://github.com/maximosojo/ToolsBundle/blob/master/Resources/doc/table_prefix.md">Componente Prefijo de Tablas BD</a></li>
                    <li><a href="https://github.com/maximosojo/ToolsBundle/blob/master/Resources/doc/link_generator.md">Componente Generador de Enlaces</a></li>
                    <li><a href="https://github.com/maximosojo/ToolsBundle/blob/master/Resources/doc/mailer.md">Componente Mailer</a></li>
                </ul>
            </p>
            <h3>Licencia</h3>
            <p>
                Este paquete está bajo la licencia MIT. Ver la licencia completa. <a href="https://github.com/maximosojo/ToolsBundle/blob/master/LICENSE">LICENSE</a>
            </p>
	  	</div>
	</article>
</section>